################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/VisitorReg.View/VisitorReg.View/bin/Debug
/VisitorReg.View/VisitorReg.View/obj/Debug
